body {
    background-image: url(images/table.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 250px;
}

#card > img {
    height: 300px;
    width: 220px;
}

.userNum{
    text-align: center;

}

.ComNum{
    text-align: center;
}

.click{
    color: blue;
    padding: 25px;
    background-color: yellow;
}