body {
    background-image: url(images/table.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 350px;
}

#card > img {
    height: 200px;
    width: 150px;
    margin-top: -40vh;
    margin-left: -20vh;
}

.userNum{
    text-align: center;

}

.ComNum{
    text-align: center;
}

.playerTurn{
    color: black;
    padding: 25px;
    background-color: green;
    width: 100px;
}

.runBox{
    margin-left: -55vh;
    margin-top: -53vh;
}

.stopBox{
    margin-left: -55vh;
    margin-top: -35vh;
}

.computerTurn{
    color: black;
    padding: 25px;
    background-color: red;
    width: 100px;
}

.reloadBox{
    margin-left: -55vh;
    margin-top: -17vh;
}

.reloadTurn{
    color: black;
    padding: 25px;
    background-color: yellow;
    width: 100px;
}